CONFIG_TARGET_ipq=y
CONFIG_TARGET_ipq_ipq807x=y
CONFIG_TARGET_ipq_ipq807x_QSDK_Premium=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_CHPASSWD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_GETOPT_LONG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_NOLOGIN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SEAMLESS_XZ=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SECURETTY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_BLOCKSIZE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_PROGRESS_BAR=y
CONFIG_BUSYBOX_CONFIG_GETOPT=y
CONFIG_BUSYBOX_CONFIG_LOGIN=y
CONFIG_BUSYBOX_CONFIG_LOGIN_SCRIPTS=y
CONFIG_BUSYBOX_CONFIG_LOGIN_SESSION_AS_CHILD=y
CONFIG_BUSYBOX_CONFIG_LSPCI=y
CONFIG_BUSYBOX_CONFIG_LSUSB=y
CONFIG_BUSYBOX_CONFIG_UNXZ=y
CONFIG_BUSYBOX_CONFIG_XZ=y
CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_GCC_USE_VERSION_4_8_LINARO is not set
CONFIG_GCC_USE_VERSION_5=y
CONFIG_GCC_VERSION="5.2.0"
CONFIG_GCC_VERSION_5=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_KERNEL_BLK_CGROUP=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_NONE is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUPS=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_PIDS=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CPUSETS=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_KERNEL_DIRECT_IO=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_FREEZER=y
CONFIG_KERNEL_IPC_NS=y
CONFIG_KERNEL_LXC_MISC=y
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_MM_OWNER=y
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_NETPRIO_CGROUP=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_NET_NS=y
CONFIG_KERNEL_PID_NS=y
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_KERNEL_UTS_NS=y
CONFIG_LIBC="musl"
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBC_USE_MUSL=y
# CONFIG_LIBC_USE_UCLIBC is not set
CONFIG_LIBC_VERSION="1.1.16"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_MUSL_VERSION="1.1.16"
CONFIG_PACKAGE_QCA_WIGIG_NSS_SUPPORT=y
# CONFIG_PACKAGE_alsa is not set
# CONFIG_PACKAGE_alsa-lib is not set
# CONFIG_PACKAGE_alsa-utils is not set
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_e2fsprogs is not set
CONFIG_PACKAGE_ebtables=m
# CONFIG_PACKAGE_file is not set
# CONFIG_PACKAGE_ip is not set
# CONFIG_PACKAGE_iperf-mt is not set
# CONFIG_PACKAGE_kmod-ata-core is not set
CONFIG_PACKAGE_kmod-crypto-aes=m
CONFIG_PACKAGE_kmod-crypto-qce=m
CONFIG_PACKAGE_kmod-crypto-test=m
CONFIG_PACKAGE_kmod-e1000e=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-ebtables-ipv4=m
CONFIG_PACKAGE_kmod-ebtables-ipv6=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-gpio-pcf857x=m
# CONFIG_PACKAGE_kmod-msm-mproc is not set
CONFIG_PACKAGE_kmod-mtdtests=m
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-pps=m
CONFIG_PACKAGE_kmod-ptp=m
CONFIG_PACKAGE_kmod-qca-psdk=m
CONFIG_PACKAGE_kmod-qca-wigig-driver=m
# CONFIG_PACKAGE_kmod-qpic_panel_ertft is not set
CONFIG_PACKAGE_kmod-qseecom=m
# CONFIG_PACKAGE_kmod-sound-core is not set
CONFIG_PACKAGE_kmod-test-udelay=m
CONFIG_PACKAGE_kmod-usb-chipidea-qti=m
CONFIG_PACKAGE_kmod-usb-phy-ci-qti=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_libcurl=y
# CONFIG_PACKAGE_libext2fs is not set
# CONFIG_PACKAGE_libgmp is not set
# CONFIG_PACKAGE_liblzo is not set
# CONFIG_PACKAGE_libmagic is not set
CONFIG_PACKAGE_libnghttp2=y
# CONFIG_PACKAGE_libpcap is not set
# CONFIG_PACKAGE_libreadline is not set
CONFIG_PACKAGE_libssp=y
# CONFIG_PACKAGE_libuuid is not set
CONFIG_PACKAGE_lrzsz=y
CONFIG_PACKAGE_luafilesystem=m
# CONFIG_PACKAGE_luci-app-multiwan is not set
# CONFIG_PACKAGE_luci-app-openvpn is not set
# CONFIG_PACKAGE_luci-app-samba is not set
CONFIG_PACKAGE_luci-proto-3g=y
# CONFIG_PACKAGE_mcproxy is not set
CONFIG_PACKAGE_minicom=y
# CONFIG_PACKAGE_multiwan is not set
# CONFIG_PACKAGE_ntfs-3g is not set
# CONFIG_PACKAGE_openswan is not set
# CONFIG_PACKAGE_openvpn-easy-rsa is not set
# CONFIG_PACKAGE_openvpn-openssl is not set
CONFIG_PACKAGE_qca-psdk-cli=m
# CONFIG_PACKAGE_quagga is not set
# CONFIG_PACKAGE_rng-tools is not set
# CONFIG_PACKAGE_rp-pppoe-relay is not set
# CONFIG_PACKAGE_rp-pppoe-server is not set
# CONFIG_PACKAGE_rstp is not set
# CONFIG_PACKAGE_samba36-server is not set
# CONFIG_PACKAGE_sysstat is not set
# CONFIG_PACKAGE_tayga is not set
# CONFIG_PACKAGE_tc is not set
# CONFIG_PACKAGE_tcpdump is not set
# CONFIG_PACKAGE_trace-cmd is not set
# CONFIG_PACKAGE_uclibcxx is not set
CONFIG_PACKAGE_wigig-firmware=m
CONFIG_PACKAGE_wigig-mac80211=m
# CONFIG_PACKAGE_xl2tpd is not set
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
# CONFIG_PKG_RELRO_NONE is not set
CONFIG_SSP_SUPPORT=y
CONFIG_STRIP_ARGS="--strip-all"
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_SUFFIX="muslgnueabi"
CONFIG_USE_MUSL=y
# CONFIG_USE_SSTRIP is not set
CONFIG_USE_STRIP=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-openswan=y
CONFIG_PACKAGE_kmod-regmap=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_ppp-mod-pppol2tp=y
