config config 'config'
	option Enable 				'0'
	option ForceWextMode 			'0'
	option SwitchInterface			'auto'
	option SwitchLanVid			'1'
	option Control				'manual'
	option DisableSteering			'0'

config hy 'hy'
	option LoadBalancingSeamless 		'1'
	option ConstrainTCPMedium 		'0'
	option MaxLBReordTimeout 		'1500'
	option HActiveMaxAge			'120000'
	option ForwardingMode			'APS'

config Wlan 'Wlan'
	option WlanCheckFreqInterval '10'
	option WlanALDNLNumOverride  '0'
	option WlanALDMulticast '0'

config Vlanid
	option ifname 'eth1'
	option vid '1'

config Vlanid
	option ifname 'eth0'
	option vid '2'

config PathChWlan 'PathChWlan'
	option UpdatedStatsInterval_W2 '1'
	option StatsAgedOutInterval_W2 '30'
	option MaxMediumUtilization_W2 '70'
	option MediumChangeThreshold_W2 '10'
	option LinkChangeThreshold_W2 '10'
	option MaxMediumUtilizationForLC_W2 '70'
	option CPULimitedTCPThroughput_W2 '0'
	option CPULimitedUDPThroughput_W2 '0'
	option PHYRateThresholdForMU_W2 '2000'
	option ProbePacketInterval_W2 '1'
	option ProbePacketSize_W2 '64'
	option EnableProbe_W2 '1'
	option AssocDetectionDelay_W2 '5'
	option UpdatedStatsInterval_W5 '1'
	option StatsAgedOutInterval_W5 '30'
	option MaxMediumUtilization_W5 '70'
	option MediumChangeThreshold_W5 '10'
	option LinkChangeThreshold_W5 '10'
	option MaxMediumUtilizationForLC_W5 '70'
	option CPULimitedTCPThroughput_W5 '0'
	option CPULimitedUDPThroughput_W5 '0'
	option PHYRateThresholdForMU_W5 '2000'
	option ProbePacketInterval_W5 '1'
	option ProbePacketSize_W5 '64'
	option EnableProbe_W5 '1'
	option AssocDetectionDelay_W5 '5'
	option ScalingFactorHighRate_W5 '750'
	option ScalingFactorHighRate_W2 '200'
	option ScalingFactorLow '60'
	option ScalingFactorMedium '85'
	option ScalingFactorHigh '60'
	option ScalingFactorTCP '90'
	option UseWHCAlgorithm '1'
	option NumUpdatesUntilStatsValid '3'

config PathChPlc 'PathChPlc'
	option MaxMediumUtilization '80'
	option MediumChangeThreshold '10'
	option LinkChangeThreshold '10'
	option StatsAgedOutInterval '60'
	option UpdateStatsInterval '1'
	option EntryExpirationInterval '120'
	option MaxMediumUtilizationForLC '80'
	option LCThresholdForUnreachable '5'
	option LCThresholdForReachable '10'
	option HostPLCInterfaceSpeed '0'

config Topology 'Topology'
	option ND_UPDATE_INTERVAL '15'
	option BD_UPDATE_INTERVAL '3'
	option HOLDING_TIME '190'
	option TIMER_LOW_BOUND '7'
	option TIMER_UPPER_BOUND '11'
	option MSGID_DELTA '64'
	option HA_AGING_INTERVAL '120'
	option ENABLE_TD3 '1'
	option ENABLE_BD_SPOOFING '1'
	option NOTIFICATION_THROTTLING_WINDOW '1'
	option PERIODIC_QUERY_INTERVAL '60'
	option ENABLE_NOTIFICATION_UNICAST '0'

config HSPECEst 'HSPECEst'
	option UpdateHSPECInterval '1'
	option NotificationThresholdLimit '10'
	option NotificationThresholdPercentage '20'
	option AlphaNumerator '3'
	option AlphaDenominator '8'
	option LocalFlowRateThreshold '2000000'
	option LocalFlowRatioThreshold '5'
	option MaxHActiveEntries '8192'

config PathSelect 'PathSelect'
	option UpdateHDInterval '10'
	option LinkCapacityThreshold '20'
	option UDPInterfaceOrder 'EP52'
	option NonUDPInterfaceOrder 'EP52'
	option SerialflowIterations '10'
	option DeltaLCThreshold '10'
	option EnableBadLinkStatsSwitchFlow '1'

config LogSettings 'LogSettings'
	option EnableLog '0'
	option LogRestartIntervalSec '10'
	option LogPCSummaryPeriodSec '0'
	option LogServerIP '192.168.1.10'
	option LogServerPort '5555'
	option EnableLogPCW2 '1'
	option EnableLogPCW5 '1'
	option EnableLogPCP '1'
	option EnableLogTD '1'
	option EnableLogHE '1'
	option EnableLogHETables '1'
	option EnableLogPS '1'
	option EnableLogPSTables '1'
	option LogHEThreshold1 '200000'
	option LogHEThreshold2 '10000000'

config IEEE1905Settings 'IEEE1905Settings'
	option StrictIEEE1905Mode '0'
	option GenerateLLDP '1'
	option AvoidDupRenew '0'
	option AvoidDupTopologyNotification '0'

config HCPSettings 'HCPSettings'
	option V1Compat '1'

config MultiAP 'MultiAP'
	option EnableController '0'
	option EnableAgent '0'
	option EnableSigmaDUT '0'
	option ClientAssocCtrlTimeoutSec '0'
	option ClientAssocCtrlTimeoutUsec '200000'
	option ShortBlacklistTimeSec '2'
	option AlwaysClearBlacklists '1'
	option ClientSteerTimeoutSec '1'
	option ClientSteerTimeoutUsec '0'
	option MetricsReportingInterval '5'
	option RSSIHysteresis_W2 '5'
	option RSSIHysteresis_W5 '5'
	option LoadBalancingInterval '30'
	option EnableChannelSelection '1'
        option MinPreferredChannelIndex '36'
        option MaxPreferredChannelIndex '99'

config SteerMsg 'SteerMsg'
	option AvgUtilReqTimeout '1'
	option LoadBalancingCompleteTimeout '90'
	option RspTimeout '2'

config Monitor 'Monitor'
    option DisableMonitoringLegacyClients '1'
    option DisableSteeringInactiveLegacyClients '1'
    option DisableSteeringActiveLegacyClients '1'
    option DisableSteeringMax11kUnfriendlyClients '1'
    option MonitorTimer '60'
    option MonitorResponseTimeout '5'
