/dts-v1/;
/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include "qcom-ipq6018.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ6018/AP-CP02-C1";
	compatible = "qcom,ipq6018-cp02", "qcom,ipq6018";
	interrupt-parent = <&intc>;

	aliases {
		sdhc1 = &sdhc_1;
	};

	chosen {
		bootargs = "console=ttyMSM0,115200,n8 rw init=/init";
		bootargs-append = " swiotlb=1";
	};
};

&tlmm {
	uart_pins: uart_pins {
		mux {
			pins = "gpio44", "gpio45";
			function = "blsp2_uart";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	i2c_0_pins: i2c_0_pinmux {
		mux {
			pins = "gpio46", "gpio47";
			function = "blsp5_i2c";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	spi_0_pins: spi_0_pins {
		mux {
			pins = "gpio38", "gpio39", "gpio40", "gpio41";
			function = "blsp0_spi";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qpic_pins: qpic_pins {
		data_0 {
			pins = "gpio15";
			function = "qpic_pad0";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_1 {
			pins = "gpio12";
			function = "qpic_pad1";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_2 {
			pins = "gpio13";
			function = "qpic_pad2";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_3 {
			pins = "gpio14";
			function = "qpic_pad3";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_4 {
			pins = "gpio5";
			function = "qpic_pad4";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_5 {
			pins = "gpio6";
			function = "qpic_pad5";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_6 {
			pins = "gpio7";
			function = "qpic_pad6";
			drive-strength = <2>;
			bias-pull-down;
		};
		data_7 {
			pins = "gpio8";
			function = "qpic_pad7";
			drive-strength = <2>;
			bias-pull-down;
		};
		qpic_pad {
			pins = "gpio1", "gpio3", "gpio4",
			       "gpio10", "gpio11", "gpio17";
			function = "qpic_pad";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	button_pins: button_pins {
		wps_button {
			pins = "gpio9";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};
	};
};

&blsp1_uart3 {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&spi_0 {
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	cs-select = <0>;
	status = "ok";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "n25q128a11";
		linux,modalias = "m25p80", "n25q128a11";
		spi-max-frequency = <50000000>;
		use-default-sizes;
	};
};

&i2c_0 {
	status = "ok";
};

&sdhc_1 {
	qcom,clk-rates = <400000 25000000 50000000 100000000 \
			 192000000 384000000>;
	qcom,bus-speed-mode = "HS200_1p8v", "DDR_1p8v";
	qcom,nonremovable;
	status = "ok";
};

&qpic_bam {
	status = "ok";
};

&nand {
	pinctrl-0 = <&qpic_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&ssphy_0 {
	status = "ok";
};

&qusb_phy_0 {
	status = "ok";
};

&usb3 {
	status = "ok";
};
